* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9fffb;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 0.6s ease;
}

body.loaded {
  opacity: 1;
}

.background .bg_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.4;
    filter: blur(3px);
}

.back_btn {
  position: absolute;
  top: 30px;
  left: 40px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.6s ease;
}

.back_btn img {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

.back_btn:hover {
  transform: scale(1.1);
}

.password_field input {
    padding-right: 45px !important; 
}

.show_password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;   
    height: 20px;
    z-index: 10;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.toggle_password_icon:hover {
    opacity: 1;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login_form {
    width: 380px;
    padding: 35px 40px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20%);
    border-radius: 24px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.logo_title img {
    width: 80px;
    height: 80px;
}

.logo_title h1 {
    color: #FFC836;
    font-size: 36px;
    font-weight: 700;
}

label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px 15px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: none;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
}

.password_field {
    position: relative;
}

.login_btn {
    width: 100%;
    padding: 12px;
    background: #FFC836;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.login_btn:hover {
    background: #f3b81d;
}
